<ul class="page-breadcrumb breadcrumb">
  <li>
    <span>Advertisements</span>
  </li>
</ul>

<div class="row">
  <div class="col-md-12">
    <div class="portlet light bordered">
      <div class="portlet-title" style="margin-bottom: 0">
        <div class="caption font-green-sharp">
          <i class="fa fa-building font-green-sharp"></i>
          <span class="caption-subject bold uppercase">Advertisements</span>
          <span class="caption-helper hide"></span>
        </div>
        <div class="actions">
          <div class="input-group">
            <div class="input-icon right" style="margin-right: 10px;">
              <i class="fa fa-search"></i>
              <input class="form-control" type="text" name="search" placeholder="Search Ads" ng-model="textFilter">
            </div>
            <span class="input-group-btn">
              <button ui-sref="advertisementsNew" class="btn btn-primary" type="button">
                Buy Ads<i class="fa fa-plus fa-fw"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="portlet-body" style="padding-top: 0">

        <div class="row">

          <div class="col-md-3" style="padding-right: 0;">

            <div class="portlet light" style="padding: 10px 0 0;">
                <div class="portlet-title">
                    <div class="caption" data-toggle="collapse" data-target=".todo-project-list-content">
                        <span class="caption-subject font-green-sharp bold uppercase">Filter: </span>
                    </div>
                </div>
                <div class="portlet-body todo-project-list-content" style="height: auto;">
                    <div class="todo-project-list">
                        <ul class="nav nav-stacked">
                            <li>
                                <a href="javascript:;">
                                    <span class="badge badge-default"> 1 </span> Bugis</a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="badge badge-default"> 1 </span> Orchard</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

          </div>

          <div class="col-md-9" style="padding-left: 0;">

            <div class="row" style="padding: 10px 0;">
              <div class="col-md-4">
                <img ng-src="{{'https://placeholdit.imgix.net/~text?txtsize=100&txt=Promo1&w=600&h=450'}}"
                     alt=""
                     class="img-responsive"
                     style="border-radius: 5px; border: 1px solid gray" />
              </div>
              <div class="col-md-7">
                <h3 class="h3">Billboard 1</h3>
                <small><b>#01-23</b></small>
                <p style="margin-top: 10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde beatae omnis dignissimos ipsa tempora? Ipsum sapiente dolores ducimus in quis soluta hic, dignissimos, dolor, veritatis veniam, doloremque incidunt! Porro, ratione.</p>
                <button class="btn btn-sm btn-success">Schedule</button>
              </div>
            </div>

            <div class="row" style="padding: 10px 0;">
              <div class="col-md-4">
                <img ng-src="{{'https://placeholdit.imgix.net/~text?txtsize=100&txt=Promo1&w=600&h=450'}}"
                     alt=""
                     class="img-responsive"
                     style="border-radius: 5px; border: 1px solid gray" />
              </div>
              <div class="col-md-7">
                <h3 class="h3">Billboard 2</h3>
                <small><b>#04-41</b></small>
                <p style="margin-top: 10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde beatae omnis dignissimos ipsa tempora? Ipsum sapiente dolores ducimus in quis soluta hic, dignissimos, dolor, veritatis veniam, doloremque incidunt! Porro, ratione.</p>
                <button class="btn btn-sm btn-success">Schedule</button>
              </div>
            </div>

            <div class="row" style="padding: 10px 0;">
              <div class="col-md-4">
                <img ng-src="{{'https://placeholdit.imgix.net/~text?txtsize=100&txt=Promo1&w=600&h=450'}}"
                     alt=""
                     class="img-responsive"
                     style="border-radius: 5px; border: 1px solid gray" />
              </div>
              <div class="col-md-7">
                <h3 class="h3">Billboard 3</h3>
                <small><b>#03-43</b></small>
                <p style="margin-top: 10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde beatae omnis dignissimos ipsa tempora? Ipsum sapiente dolores ducimus in quis soluta hic, dignissimos, dolor, veritatis veniam, doloremque incidunt! Porro, ratione.</p>
                <button class="btn btn-sm btn-success">Schedule</button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
