<ul class="page-breadcrumb breadcrumb">
  <li>
    <a ui-sref="businesses">Businesses</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <span>{{business.id}}</span>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <span>Edit</span>
  </li>
</ul>

<div class="row">
  <div class="col-md-12">
    <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption font-green-sharp">
          <i class="icon-diamond font-green-sharp"></i>
          <span class="caption-subject bold uppercase">New Business</span>
          <span class="caption-helper hide"></span>
        </div>
      </div>
      <div class="portlet-body">

        <div class="row">

          <div class="col-md-4" style="margin-bottom: 15px;">
            <img onerror="this.src='https://placeholdit.imgix.net/~text?txtsize=100&txt=SampleBusiness&w=600&h=600';"
                 ng-src="{{ 'https://snaplar.blob.core.windows.net/image/Users/juangabriel/Desktop/temp/pixeloak/snapadmin_backend/public' + business.image.medium }}"
                 class="img-responsive img-preview"
                 style="object-fit: contain; height: 300px; width: 100%;" />
            <div>
             <input type="file" image="image" />
            </div>
          </div>

          <div class="col-md-5">

            <div class="portlet-body form">
              <form role="form">
                <div class="form-body" style="padding: 0">

                  <div class="form-group">
                    <label><b>Name</b></label>
                    <div class="input-group">
                      <span class="input-group-addon"></span>
                      <input type="text" class="form-control" placeholder="Name" ng-model="business.name">
                    </div>
                  </div>

                  <div class="form-group">
                    <label><b>Description</b></label>
                    <textarea class="form-control" rows="6" ng-model="business.description"></textarea>
                  </div>

                  <div class="form-group">
                    <div class="mt-checkbox-inline">
                      <label class="mt-checkbox">
                        <input type="checkbox" class="filterStatus" value="active" ng-model="business.is_headquarters"><b>Is a Headquarter?</b>
                        <span></span>
                      </label>
                    </div>
                  </div>

                </div>
              </form>
            </div>

          </div>

          <div class="col-md-3">
            <button type="button" name="button" class="btn btn-block yellow-haze" ng-click="editBusiness(business, 'draft')">Edit as Draft</button>
            <button type="button" name="button" class="btn btn-block btn-primary" ng-click="editBusiness(business)">Edit</button>
          </div>

        </div>

        <div class="row">

          <div class="col-md-12">
            <ul class="nav nav-tabs">
              <li class="active">
                  <a href="#" data-target="#details" data-toggle="tab"><b>Details</b></a>
              </li>
              <li>
                  <a href="#" data-target="#signboards" data-toggle="tab"><b>Signboards</b></a>
              </li>
              <li>
                  <a href="#" data-target="#promotions" data-toggle="tab"><b>Promotions</b></a>
              </li>
            </ul>
            <div class="tab-content">

              <div class="tab-pane active" id="details">
                <form role="form row" style="padding: 10px;">
                  <div class="form-body col-md-6" style="padding: 0">

                    <div class="form-group">
                      <label><b>Email</b></label>
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input type="text" class="form-control" placeholder="Email" ng-model="business.email">
                      </div>
                    </div>

                    <div class="form-group">
                      <label><b>Phonenumber</b></label>
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input type="text" class="form-control" placeholder="Contact" ng-model="business.phone_number">
                      </div>
                    </div>

                    <div class="form-group">
                      <label><b>Address</b></label>
                      <textarea class="form-control" rows="6" ng-model="business.address"></textarea>
                    </div>

                    <div class="form-group row">
                      <div class="col-xs-4">
                        <label><b>Opening time</b></label>
                        <div class="input-group">
                          <span class="input-group-addon"></span>
                          <input type="text" class="form-control" placeholder="9am" ng-model="business.opening_time">
                        </div>
                      </div>
                      <div class="col-xs-4">
                        <label><b>Closing time</b></label>
                        <div class="input-group">
                          <span class="input-group-addon"></span>
                          <input type="text" class="form-control" placeholder="6pm" ng-model="business.closing_time">
                        </div>
                      </div>
                      <div class="col-xs-4">
                        <div class="mt-checkbox-inline" style="padding-top: 30px;">
                          <label class="mt-checkbox">
                            <input type="checkbox" class="filterStatus" value="active"><b> Open 24 hrs</b>
                            <span></span>
                          </label>
                        </div>
                      </div>
                    </div>

                    <hr />

                    <div class="form-group">
                      <label><b>Mall</b></label>
                      <div class="input-group">
                        <select class="form-control select2" ng-model="business.mall_id">
                          <!-- <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option> -->
                          <option value="asdf">asdf</option>
                          <option value="asdf">asdf2</option>
                          <option value="asdf">asdf3</option>
                        </select>
                      </div>
                    </div>

                    <hr />

                    <div class="form-group row">
                      <div class="col-xs-6">
                        <label><b>Lng</b></label>
                        <input type="number" step="any" class="form-control" placeholder="Lng" ng-model="business.lng">
                      </div>
                      <div class="col-xs-6">
                        <label><b>Lat</b></label>
                        <input type="number" step="any" class="form-control" placeholder="Lat" ng-model="business.lat">
                      </div>
                    </div>

                  </div>
                </form>
              </div>

              <div class="tab-pane" id="signboards">
                <div class="actions pull-right" style="margin-bottom: 10px;">
                  <div class="input-group">
                    <div class="input-icon right" style="margin-right: 10px;">
                      <i class="fa fa-search"></i>
                      <input class="form-control" type="text" name="search" placeholder="Search signboards" ng-model="textFilter">
                    </div>
                    <span class="input-group-btn">
                      <button ui-sref="billboardsNew" class="btn btn-primary">New Billboard
                        <i class="fa fa-plus"></i>
                      </button>
                    </span>
                  </div>
                </div>

                <div class="row" style="padding: 10px 0;">
                  <div class="col-md-4">
                    <img ng-src="{{'https://placeholdit.imgix.net/~text?txtsize=100&txt=Signboard1&w=600&h=450'}}"
                         alt=""
                         class="img-responsive" />
                  </div>
                  <div class="col-md-7">
                    <h3 class="h3">Free Food Vouchers @ Something</h3>
                    <small><b>#01-31</b></small>
                    <p style="margin-top: 10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde beatae omnis dignissimos ipsa tempora? Ipsum sapiente dolores ducimus in quis soluta hic, dignissimos, dolor, veritatis veniam, doloremque incidunt! Porro, ratione.</p>
                    <button class="btn btn-lg btn-success">Schedule</button>
                  </div>
                </div>

                <div class="row" style="padding: 10px 0;">
                  <div class="col-md-4">
                    <img ng-src="{{'https://placeholdit.imgix.net/~text?txtsize=100&txt=Signboard1&w=600&h=450'}}"
                         alt=""
                         class="img-responsive" />
                  </div>
                  <div class="col-md-7">
                    <h3 class="h3">Yoshinoya Buy One Get One</h3>
                    <small><b>#04-23</b></small>
                    <p style="margin-top: 10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde beatae omnis dignissimos ipsa tempora? Ipsum sapiente dolores ducimus in quis soluta hic, dignissimos, dolor, veritatis veniam, doloremque incidunt! Porro, ratione.</p>
                    <button class="btn btn-lg btn-success">Schedule</button>
                  </div>
                </div>

              </div>
              <div class="tab-pane" id="promotions">

                <div class="actions pull-right" style="margin-bottom: 10px;">
                  <div class="input-group">
                    <div class="input-icon right" style="margin-right: 10px;">
                      <i class="fa fa-search"></i>
                      <input class="form-control" type="text" name="search" placeholder="Search promotions" ng-model="textFilter">
                    </div>
                    <span class="input-group-btn">
                      <button ui-sref="billboardsNew" class="btn btn-primary">New Promotion
                        <i class="fa fa-plus"></i>
                      </button>
                    </span>
                  </div>
                </div>

                <div class="row" style="padding: 10px 0;">
                  <div class="col-md-4">
                    <img ng-src="{{'https://placeholdit.imgix.net/~text?txtsize=100&txt=Promo1&w=600&h=450'}}"
                         alt=""
                         class="img-responsive" />
                  </div>
                  <div class="col-md-7">
                    <h3 class="h3">Promo1</h3>
                    <small><b>#01-31</b></small>
                    <p style="margin-top: 10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde beatae omnis dignissimos ipsa tempora? Ipsum sapiente dolores ducimus in quis soluta hic, dignissimos, dolor, veritatis veniam, doloremque incidunt! Porro, ratione.</p>
                    <button class="btn btn-lg btn-success">Schedule</button>
                  </div>
                </div>

                <div class="row" style="padding: 10px 0;">
                  <div class="col-md-4">
                    <img ng-src="{{'https://placeholdit.imgix.net/~text?txtsize=100&txt=Promo2&w=600&h=450'}}"
                         alt=""
                         class="img-responsive" />
                  </div>
                  <div class="col-md-7">
                    <h3 class="h3">Promo2</h3>
                    <small><b>#04-23</b></small>
                    <p style="margin-top: 10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde beatae omnis dignissimos ipsa tempora? Ipsum sapiente dolores ducimus in quis soluta hic, dignissimos, dolor, veritatis veniam, doloremque incidunt! Porro, ratione.</p>
                    <button class="btn btn-lg btn-success">Schedule</button>
                    <button class="btn btn-lg btn-warning">Status</button>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
