<ul class="page-breadcrumb breadcrumb">
  <li>
    <a ui-sref="businesses">Business</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <a ui-sref="businessesEdit({id: business.id})">{{business.id}}</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <a ui-sref="businessesEdit({id: business.id})">Signboards</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <span>{{signboard.id}}</span>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <span>Edit</span>
  </li>
</ul>

<div class="row">
  <div class="col-md-12">
    <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption font-green-sharp">
          <i class="icon-diamond font-green-sharp"></i>
          <span class="caption-subject bold uppercase">Create New Billboard for {{business.name}}</span>
          <span class="caption-helper hide"></span>
        </div>
      </div>
      <div class="portlet-body">

        <div class="row">

          <div class="col-md-4">
            <img ng-src="{{'https://placeholdit.imgix.net/~text?txtsize=100&txt=Billboard&w=600&h=600'}}"
                 alt=""
                 class="img-responsive" />
          </div>

          <div class="col-md-5">

            <div class="portlet-body form">
              <form role="form">
                <div class="form-body" style="padding: 0">

                  <div class="form-group">
                    <label><b>Name</b></label>
                    <div class="input-group">
                      <span class="input-group-addon"></span>
                      <input type="text" class="form-control" placeholder="Name" ng-model="signboard.name">
                    </div>
                  </div>

                  <div class="form-group">
                    <label><b>Description</b></label>
                    <textarea class="form-control" rows="6" ng-model="signboard.description"></textarea>
                  </div>

                  <div class="form-group row">
                    <div class="col-xs-6">
                      <label><b>Near Level</b></label>
                      <input type="text" class="form-control" placeholder="01" ng-model="signboard.near_level">
                    </div>
                    <div class="col-xs-6">
                      <label><b>Near Unit</b></label>
                      <input type="text" class="form-control" placeholder="73" ng-model="signboard.near_unit">
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-xs-6">
                      <label><b>Lng</b></label>
                      <input type="number" step="any" class="form-control" placeholder="Lng" ng-model="signboard.lng">
                    </div>
                    <div class="col-xs-6">
                      <label><b>Lat</b></label>
                      <input type="number" step="any" class="form-control" placeholder="Lat" ng-model="signboard.lat">
                    </div>
                  </div>

                  <div class="form-group">
                    <label><b>Beacon Id</b></label>
                    <div class="input-group">
                      <span class="input-group-addon"></span>
                      <input type="text" class="form-control" placeholder="1" ng-model="signboard.beacon_id">
                    </div>
                  </div>

                  <div class="form-group">
                    <label><b>Activate Within Beacon Range Of (in meters)</b></label>
                    <div class="input-group">
                      <span class="input-group-addon"></span>
                      <input type="text" class="form-control" placeholder="100" ng-model="signboard.activate_within_beacon_range_of">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="mt-checkbox-inline">
                      <label class="mt-checkbox">
                        <input type="checkbox" class="filterStatus" value="active" ng-model="signboard.is_linked_indoor"><b>Is Linked Indoor?</b>
                        <span></span>
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label><b>Advertisement mode:</b></label>
                    <div class="mt-radio-inline">
                      <label class="mt-radio">
                        <input type="radio" name="advertisement_mode" value="0" ng-model="signboard.advertisement_mode">Fixed
                        <span></span>
                      </label>
                      <label class="mt-radio">
                        <input type="radio" name="advertisement_mode" value="1" ng-model="signboard.advertisement_mode">Rotating
                        <span></span>
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label><b>Signboard Content</b></label>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-image"></i>
                      </span>
                      <input type="text" class="form-control" placeholder="http://storage.pixeloak.com/image.jpg" ng-model="provider.image_url">
                    </div>
                  </div>

                  <button type="button" name="button" class="btn btn-primary" ng-click="editSignboard(signboard)">Edit Signboard</button>
                </div>
              </form>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
