<ul class="page-breadcrumb breadcrumb">
  <li>
    <a ui-sref="gamification">Gamification</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <a ui-sref="gamificationEvents">Events</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <a ui-sref="gamificationEventDetail({id: event.id})">{{event.id}}</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <span>Activities</span>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <span>{{activity.id}}</span>
    <i class="fa fa-circle"></i>
  </li>

  <li>
    <span>Edit</span>
  </li>
</ul>

<div class="row">
  <div class="col-md-12">
    <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption font-green-sharp">
          <i class="icon-diamond font-green-sharp"></i>
          <span class="caption-subject bold uppercase">Edit Activity: {{activity.title}}</span>
          <span class="caption-helper hide"></span>
        </div>
        <div class="actions">
          <a class="btn btn-default" ui-sref="gamificationCampaigns"><i class="icon-map"></i> Campaigns</a>
          <a class="btn btn-default" ui-sref="gamificationEvents"><i class="icon-globe"></i> Events</a>
        </div>
      </div>
      <div class="portlet-body">

        <div class="row">
          <div class="col-md-7">

            <div class="portlet-body form">
              <form action="#">
                <div class="form-body">

                  <div class="form-group">
                    <label><b>Event</b></label>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon-globe"></i>
                      </span>
                      <input type="text" class="form-control" disabled="true" ng-model="activity.event_id" ng-init="activity.event_id = event.id" ng-value="event.title || 'No Event Selected'">
                    </div>
                  </div>

                  <div class="form-group">
                    <label><b>Title</b></label>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                      </span>
                      <input type="text" class="form-control" placeholder="Title" ng-model="activity.title">
                    </div>
                  </div>

                  <div class="form-group">
                    <label><b>Step</b></label>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-compass"></i>
                      </span>
                      <input type="text" class="form-control" placeholder="Step" ng-model="activity.step">
                    </div>
                  </div>

                  <div class="form-group">
                    <label><b>Total Steps</b></label>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-compass"></i>
                      </span>
                      <input type="text" class="form-control" placeholder="Total Steps" ng-model="activity.total_steps">
                    </div>
                  </div>

                  <div class="form-group">
                    <label><b>Page Content</b></label>
                    <textarea class="form-control" rows="6" ng-model="activity.page_content"></textarea>
                  </div>

                  <div class="form-group">
                    <label><b>Starts At</b></label>
                    <div class="input-group date form_datetime">
                      <input type="text" size="16" readonly class="form-control" ng-model="activity.starts_at">
                      <span class="input-group-btn">
                        <button class="btn default date-set" type="button">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label><b>Ends At</b></label>
                    <div class="input-group date form_datetime">
                      <input type="text" size="16" readonly class="form-control" ng-model="activity.ends_at">
                      <span class="input-group-btn">
                        <button class="btn default date-set" type="button">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label><b>Activity Package</b></label>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-link"></i>
                      </span>
                      <input type="text" class="form-control" placeholder="Activity Package" ng-model="activity.activity_package">
                    </div>
                  </div>

                  <div class="form-group">
                    <label><b>Status</b></label>
                    <div class="mt-radio-list">
                      <label class="mt-radio"> Active
                        <input type="radio" ng-model="activity.activity_type" value="active"/>
                        <span></span>
                      </label>
                      <label class="mt-radio"> Pending
                        <input type="radio" ng-model="activity.activity_type" value="pending"/>
                        <span></span>
                      </label>
                      <label class="mt-radio"> Locked
                        <input type="radio" ng-model="activity.activity_type" value="locked"/>
                        <span></span>
                      </label>
                      <label class="mt-radio"> Ended
                        <input type="radio" ng-model="activity.activity_type" value="ended"/>
                        <span></span>
                      </label>
                    </div>
                  </div>

                </div>
                <button type="button" name="button" class="btn btn-primary" ng-click="updateActivity(activity)">Edit</button>
              </form>
            </div>

          </div>

          <div class="col-md-5">

            <div style="padding: 20px 0 5px;">
              <b>Activity Template</b>
            </div>

            <div class="panel-group accordion" id="activity_rules_accordion">

              <div ng-repeat="template in templates" class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-target="{{ '#' + template.id }}" data-parent="#activity_rules_accordion">
                      <b>{{template.name}}</b>
                      <span ng-if="activity.activity_rule.id == template.id" class="label label-warning">Added</span>
                    </a>
                  </h4>
                </div>
                <div id="{{ template.id }}" ng-class="{collapse: true, in: $index == 0}">
                  <div class="panel-body">

                    <div class="form-group">
                      <label><b>Description</b></label>
                      <div ng-bind-html="template.description"></div>
                    </div>

                    <div ng-repeat="(key, value) in template.parameters" class="form-group">
                      <label><b>{{key}}</b></label>
                      <input ng-if="value == 'number'" type="text" class="form-control" placeholder="text" ng-model="activity_params[template.id][key]">
                      <input ng-if="value == 'string'" type="number" class="form-control" placeholder="number" ng-model="activity_params[template.id][key]">
                    </div>

                    <button ng-click="addTemplate(template, activity_params[template.id])" type="button" name="button" class="btn btn-primary">Add Template</button>
                    <button ng-click="removeTemplate(template.id)" type="button" name="button" class="btn btn-danger">Remove Template</button>

                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
        <script>
        $(".form_datetime").datetimepicker({
          autoclose: true,
          isRTL: App.isRTL(),
          format: "dd MM yyyy - hh:ii",
          pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left")
        });
        </script>


      </div>
    </div>
  </div>
</div>
