<ul class="page-breadcrumb breadcrumb">
  <li>
    <span>Broadcast</span>
  </li>
</ul>

<div class="row">
  <div class="col-md-12">
    <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption font-green-sharp">
          <i class="fa fa-microphone font-green-sharp"></i>
          <span class="caption-subject bold uppercase">Edit A Notification</span>
          <span class="caption-helper hide"></span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-5">

            <div class="portlet-body form">
              <form role="form">
                <div class="form-body">

                  <div class="form-group">
                    <label><b>Message</b></label>
                    <textarea class="form-control" rows="6" ng-model="notification.message"></textarea>
                  </div>

                  <div class="form-group" style="margin-bottom: 0;">
                    <label><b>Audience</b></label>
                    <div class="mt-radio-inline">
                      <label class="mt-radio">
                        <input type="radio" name="notification.platform" value="all_platforms" ng-model="notification.platform">all_platforms
                        <span></span>
                      </label>
                      <label class="mt-radio">
                        <input type="radio" name="notification.platform" value="apns" ng-model="notification.platform">apns
                        <span></span>
                      </label>
                      <label class="mt-radio">
                        <input type="radio" name="notification.platform" value="gcm" ng-model="notification.platform">gcm
                        <span></span>
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>
                      <b>Scheduled</b>
                    </label>

                    <div class="input-group date form_datetime">
                      <input type="text" size="16" readonly class="form-control" ng-model="notification.execute_time">
                      <span class="input-group-btn">
                        <button class="btn default date-set" type="button">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </span>
                    </div>
                  </div>

                  <button type="button" name="button" class="btn btn-primary" ng-click="updateNotification(notification)">Edit Notification</button>
                </div>
              </form>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(".form_datetime").datetimepicker({
  autoclose: true,
  isRTL: App.isRTL(),
  format: "dd MM yyyy - hh:ii",
  pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left")
});
</script>
