<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="categories">Categories</a>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN: ACCORDION DEMO -->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Categories</span>
                    <span class="caption-helper hide"></span>
                </div>
                <div class="actions">
                  <a class="btn btn-primary" ui-sref="categoryNew"> Add New Category
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
            </div>
            <div class="portlet-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>name</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="category in categories">
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td><a href="#">Edit</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
    // call any jquery or angularjs code ehre
</script>
<!-- BEGIN MAIN JS -->
