<ul class="page-breadcrumb breadcrumb">
  <li>
    <a ui-sref="categories">Categories</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <span>{{category.id}}</span>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <span>Edit</span>
  </li>
</ul>

<div class="row">
  <div class="col-md-12">
    <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption font-green-sharp">
          <i class="icon-diamond font-green-sharp"></i>
          <span class="caption-subject bold uppercase">New Category</span>
          <span class="caption-helper hide"></span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-5">

            <div class="portlet-body form">
              <form role="form">
                <div class="form-body">
                  <div class="form-group">
                    <label><b>Name</b></label>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-archive"></i>
                      </span>
                      <input type="text" class="form-control" placeholder="Name" ng-model="category.name">
                    </div>
                  </div>
                  <button type="button" name="button" class="btn btn-primary" ng-click="updateCategory(category)">Update</button>
                </div>
              </form>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
