<ul class="page-breadcrumb breadcrumb">
  <li>
    <a ui-sref="providers">Providers</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <span>New</span>
  </li>
</ul>

<div class="row">
  <div class="col-md-12">
    <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption font-green-sharp">
          <i class="icon-diamond font-green-sharp"></i>
          <span class="caption-subject bold uppercase">New Provider</span>
          <span class="caption-helper hide"></span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-5">

            <div class="portlet-body form">
              <form role="form">
                <div class="form-body">

                  <div class="form-group">
                    <label><b>Name</b></label>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-archive"></i>
                      </span>
                      <input type="text" class="form-control" placeholder="Name" ng-model="provider.name">
                    </div>
                  </div>

                  <div class="form-group">
                    <label><b>Image Url</b></label>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-image"></i>
                      </span>
                      <input type="text" class="form-control" placeholder="http://storage.pixeloak.com/image.jpg" ng-model="provider.image_url">
                    </div>
                  </div>

                  <button type="button" name="button" class="btn btn-primary" ng-click="createProvider(provider)">Create</button>
                </div>
              </form>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
