<ul class="page-breadcrumb breadcrumb">
  <li>
    <span>Users</span>
  </li>
</ul>

<div class="row">
  <div class="col-md-12">
    <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption font-green-sharp">
          <i class="icon-users font-green-sharp"></i>
          <span class="caption-subject bold uppercase" data-ng-bind="$state.current.data.pageTitle"></span>
          <span class="caption-helper hide"></span>
        </div>
      </div>
      <div class="portlet-body">

        <div class="table-toolbar" style="margin-bottom: 0;">
          <div class="row">
            <div class="col-md-10">
              <label><b>Filter:</b></label>
              <div class="mt-checkbox-inline">
                <label class="mt-checkbox">
                  <input type="checkbox" class="filterStatus" value="all"> All
                  <span></span>
                </label>
                <label class="mt-checkbox">
                  <input type="checkbox" class="filterStatus" value="enabled"> Enabled
                  <span></span>
                </label>
                <label class="mt-checkbox">
                  <input type="checkbox" class="filterStatus" value="disabled"> Disabled
                  <span></span>
                </label>
              </div>
            </div>
            <div class="col-md-2">
              <a ui-sref="usersNew" class="btn btn-primary btn-sm btn-block" style="margin-bottom: 10px;">
                Add New User
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>

        </div>
        <table id="usersTable" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Status</th>
                </tr>
            </thead>
        </table>

      </div>
    </div>
  </div>
</div>
